/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/


@import url("//fonts.googleapis.com/css?family=Shizuru:400,700");

h1 {
  font-family: 'Shizuru', sans-serif;
}

.navbar {
  background-color: #7897ab;
}

.navbar-brand {
  background-color: white;
  padding: .5em;
  border-radius: 5px;
}

.navbar-brand:hover {
  background-color: #fdceb9;
}

.nav-link:hover {
  color: #fdceb9 !important;
}

.fa-star {
  font-size: .7em;;
}

.banner {
  margin-top: 4em !important;
  border-bottom: 1px solid #655d8a;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.bigTitle {
  font-size: 4em;
}

.bouquetImg {
  max-width: 100%;
  padding: 1px;
  border: 3px solid #655d8a
}

.bouquetImg:hover {
  border: 3px solid #fdceb9
}

.bouquet {
  padding-right: 0
}

footer {
  border-top: 1px solid #655d8a;

}

.itemInfo {
  display: flex;
  justify-content: space-around;
  align-items: top;
  margin-top: .25em;
}

.outOfStock {
  color: red
}

#addToCart {
  color: black;
  background-color: #fdceb9 !important;
  border: 1px solid black;
}

.priceTag {
  font-weight: bold;
}

/*
.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.card {
  background-color: #469ea8;
  padding: 1rem;
}

.card-primary {
  border-color: #a2ced3;
  margin-bottom: 0.5rem;
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #469ea8;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.review-header {
  background-color: #31727a;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 0.5em;
}

.badge-default, .btn-primary {
  background-color: #ad1d28;
  border-color: #911821;
}

h4 a, h4 a:hover {
  color: #fff;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}

h1 small {
  color: #aaa;
}

.address {
  margin-bottom: 0.5rem;
}

.facilities span.badge {
  margin-right: 2px;
}

p {
  margin-bottom: 0.65rem;
}

a {
  color: rgba(255, 255, 255, 0.8)
}

a:hover {
  color:#fff
}

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #fff;
  background-color: #108a93;
}
*/