extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1.bigTitle shop
  .row
    .col-12.col-md-8 
      h2 Flower selection
      .row.gx-2.gy-2
        each item in items
          .col-6.col-md-4.bouquet
            img.bouquetImg(src=item.href)
            +outputRating(item.stars)
            div.itemInfo
              span.priceTag= `$${item.price}`
              if item.inStock
                button.btn.btn-primary#addToCart add to cart
              else 
                span.outOfStock out of stock
    .col-12.col-md-4
      h2= sidebar.title
      p= sidebar.content