extends layout

block content
  .row.banner
    .col-12
      h1.bigTitle shop
  .row
    .col-12.col-md-8 
      h2 Flower selection
      .row.gx-2.gy-2
        .col-6.col-md-4.bouquet
          img.bouquetImg(src='https://cdn.shopify.com/s/files/1/0285/3663/5485/products/PeachFancyFlowerBouquet_FlowerFix_Subscription.9836_500x.jpg?v=1610587470')
          span.priceTag $64.99
          button add to cart
        .col-6.col-md-4.bouquet
          img.bouquetImg(src='https://flowergiftkorea.com/wp-content/uploads/2016/10/A-Walk-To-Remember-Flower-Bouquet.jpg')
          span.priceTag $74.99
          button add to cart
        .col-6.col-md-4.bouquet
          img.bouquetImg(src='https://cdn.shopify.com/s/files/1/0224/1377/0816/files/happy_energy_top_2566c728-cfe9-4436-87c0-3a04da9970fa_480x480.jpg?v=1605643375')
          span.priceTag $54.99
          button add to cart
    .col-12.col-md-4
      h2 Information
      p Click on a bouquet for more information including pricing and buying options.