extends layout 

block content
  .row.banner.justify-content-md-center
    .col-12
      h1.bigTitle petals
  .row
    .col-12
      p Welcome to Petals: Laramie's online flower shop. Browse 
        a(href='/shop') our selection
        span &nbsp;to find the perfect flowers for any occasion. 

      a(href='shop')