extends layout 

block content
  .row.banner.justify-content-md-center
    .col-12
      h1.bigTitle= pageText.title
  .row
    .col-12
      p= pageText.body
      a(href= pageText.link.href)= pageText.link.text